.search-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(6deg, rgba(22,36,65,1) 0%, rgba(20,28,48,1) 100%);
    border-radius: 10px;
    border: 1px solid rgb(74, 80, 102);
}

.searchbar input {
    background-color: #394867;
    margin-right: 10px;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    border: none;
}

.searchbar input::placeholder {
    color: rgb(156, 156, 156);
    padding: 0 10px;
    font-size: 1rem;
}

.searchbar button {
    background-color: #20365f;
    width: 40px;
    height: 35px;
    border-radius: 10px;
    border: none;
}